{{! Profile page of user posted workouts }}
{{#each profiles as |profile|}}
  <div>
    <div>
      <h2>
        <a href="/profiles/{{id}}">{{name}}</a>
      </h2>
      <h4>My Workouts</h4>
      <p>
        {{workout.description}}
      </p>
      <p>Added by:
        <a href="/profile/{{user.id}}">{{user.name}}</a>
        on
        {{format_date createdAt}}</p>
    </div>
  </div>

{{/each}}