{{! All workouts displayed }}
{{! Used to show all within a category as well }}

{{#each workouts as |workout|}}
  <div>
    <div>
      <h2>
        <a href="/workouts/{{id}}">{{title}}</a>
      </h2>
      <h4>{{category.name}}</h4>
      <p>
        {{description}}
      </p>
      <p>Added by:
        <a href="/profile/{{user.id}}">{{user.name}}</a>
        on
        {{format_date createdAt}}</p>
    </div>
  </div>

{{/each}}

<script src="/js/workoutlist.js"></script>