<div>
  <div>
    <h3>{{workout.title}}</h3>
    <p>By: {{workout.user.name}}</p>
    <p>On: {{format_date workout.createdAt}}</p>
  </div>
  <div>
    <p>{{workout.category.name}}</p>
  </div>
  <div>
    <p>{{workout.description}}</p>
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <h2>Are you sure you want to delete your workout?</h2>
    <button class="confirm-button">Yes, Delete it</button>
    <button class="cancel-delete-button">No! Go back!</button>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>

<div id="buttons">
  {{#if loggedIn}}
    <button class="btn btn-primary" id="comment-button">Add Comment</button>

    {{#if postLiked}}
      <button id="liked-button">Liked</button>
    {{else}}
      <button id="unliked-button">Unliked</button>
    {{/if}}

  {{/if}}

  {{#if (if_equals workout.user.id userId)}}
    <button class="btn btn-primary" id="update-button">Update</button>
    <button class="btn btn-primary" id="delete-button">Delete</button>
  {{/if}}
</div>

<h2>Comments</h2>
{{#each comments as |userComment|}}
  <div class="blog-post col-5">
    <div class="display-flex" id="blog-title">
      <p>By: {{user.name}}</p>
      <p>On: {{format_date createdAt}}</p>
    </div>
    <div id="blog-description">
      <p>{{comment}}</p>
    </div>
  </div>
{{/each}}

<div class="hide comment" id="form-page">
  <h2>Add your comment</h2>
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <h2>Failed to create new comment</h2>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <form class="form comment-form">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <input class="form-input" type="text" id="comment-description" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Add</button>
    </div>
  </form>
</div>

<script src="/js/commentWorkout.js"></script>

{{#if (if_equals workout.user.id userId)}}
  <script src="/js/updateDeleteWorkout.js"></script>
{{/if}}

{{#if postLiked}}
  <script src="/js/unlikeWorkout.js"></script>
{{else}}
  <script src="/js/likeWorkout.js"></script>
{{/if}}